.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerPrincipal-nav{
    display: flex;
}

/******Our courses****/
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

/******Video section****/
.videoSobre .container{
    display: flex;
    align-items: center;
}

.videoSobre-sobre{
    margin-left: 10%;
    align-items: center;
}


/******Course map****/
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction:column;
    height: 260px;
    flex-wrap: wrap;
}

/******Footer****/
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}

/*******Responsive*********/
@media (max-width:768px){

.headerPrincipal .container{
    flex-direction: column;
    align-items: initial;
}
.headerPrincipal-nav{
    flex-direction: column;
    text-align: center;
}

/******Our courses****/
.contenidoPrincipal-cursos{
    flex-direction: column;
}
.contenidoPrincipal-cursos-link{
    width: 100%;
}

/******Video section****/
.videoSobre .container{
    flex-direction: column;
}
.videoSobre-sobre{
    margin: 4% 0 ;
    font-size: 12pt;
}

/******Course map****/
.rodapePrincipal-navMap-list{
    height: auto;
    margin-left: 5%;
    flex-wrap: nowrap;
}

/******Footer****/
.rodapePrincipal-patrocinadores .container{
    flex-direction: column;
}

.rodapePrincipal-patrocinadores-list{
    width: 100%;
}

.rodapePrincipal-contatoForm{
    width: 100%;
}

.rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
}
}